<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>894557764172-h0v9fq2t1dh2egu1vcf7rjcp8tjbfjim.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.894557764172-h0v9fq2t1dh2egu1vcf7rjcp8tjbfjim</string>
	<key>API_KEY</key>
	<string>AIzaSyBw8HZ-lm0avEvE97n7y0NTRsLcxrVI3m8</string>
	<key>GCM_SENDER_ID</key>
	<string>894557764172</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.meebo</string>
	<key>PROJECT_ID</key>
	<string>meebo-34a1a</string>
	<key>STORAGE_BUCKET</key>
	<string>meebo-34a1a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:894557764172:ios:47c51e829edd2a540512e9</string>
</dict>
</plist>