# popular extension https://editorconfig.org/ is used for in case
# anyone else is interested contributing to this open source site

# top-most EditorConfig file
root = true

[*]
indent_style = space
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true
indent_size = 4
