.inputForm {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 9px;
  border: black;
  padding-top: 10px;
  padding-bottom: 10px;
  border: solid 2px #e5e5e5;
  border-radius: 96px;
  outline: 1;
  font: normal 13px/100% Verdana, Tahoma, sans-serif;
  background: #ffffff;
  width: 600px;
  background: -webkit-gradient(
    linear,
    left top,
    left 25,
    from(#ffffff),
    color-stop(4%, #eeeeee),
    to(#ffffff)
  );
  background: -moz-linear-gradient(top, #ffffff, #eeeeee 1px, #ffffff 25px);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px;
  -moz-box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px;
}

.nextButton {
  text-decoration: none;
}
